<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ .Site.Title }}</title>
</head>

<body>

  <nav>
    <a href="{{ "/" | relURL }}">Home</a>
    <a href="{{ "/about/" | relURL }}">About</a>
    <a href="{{ "/members/" | relURL }}">Members</a>
    <a href="{{ "/courses/" | relURL }}">Courses</a>
    <a href="{{ "/photo/" | relURL }}">Photo</a>
    <a href="{{ "/contact/" | relURL }}">Contact</a>
  </nav>

  <hr>

  <main>
    {{ .Content }}
  </main>

</body>
</html>
